\#*\#
.\#*
*.fast*
*.fmi
*.index
*.out
bwmapper
mapper
anndump
gbrowser
aligner
buildindex
tmp/*
genomes/*
old_src/*
test/*.gc*
test/.*
test/runtests
*.o
input/*
out/*
align/*
bwa/*
doc/*
*.txt
*.swp
