\#*\#
.\#*
*.fast*
*.fmi
*.index
*.out
bwmapper
mapper
anndump
gbrowser
aligner
buildindex
tmp/*
genomes/*
old_src/*
test/*.gc*
test/.*
test/test*.sym
test/test*.txt
test/test*.sar
test/test*.bwt
test/test*.ann
test/test*.ann.*
test/ui_test*.sym
test/ui_test*.txt
test/ui_test*.sar
test/ui_test*.bwt
test/ui_test*.ann
test/ui_test*.ann.*
test/runtests
test/*.so
*.o
input/*
out/*
align/*
bwa/*
doc/*
*.txt
*.swp
